# Node modules
node_modules/

# Build outputs
/frontend/web/build
/frontend/mobile/android/app/build
/frontend/mobile/ios/build

# Environment variables
.env
.env.local

# Runtime uploads
backend/uploads/

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
